@charset "utf-8";

/* CSS Document */

img {
    border: 0px;
}

body {
    background: url('https://res.cloudinary.com/dfkpopvkp/image/upload/v1636686260/bg_page_vpzaih.gif') repeat-x #e7e5e5;
    margin: 0px 0px 0px 0px;
    font: normal 12px Arial, Helvetica, sans-serif;
    color: #333333;
}


/*Page*/

.page {
    width: 100%;
    margin: 0 auto;
}

.info_container {
    width: 100%;
    margin: 0px auto;
}


/*----Panel top----*/

.paneltop {
    clear: both;
    width: 100%;
}

.img {
    float: left;
}

.banner {
    clear: both;
    width: 1002px;
    margin: 0px auto;
}

.blog_menu2 {
    width: 100%;
    clear: both;
    height: 34px;
    background: url('https://res.cloudinary.com/dfkpopvkp/image/upload/v1636686259/bg_menu2_rerckj.jpg') repeat-x;
}

.img1_menu2 {
    float: left;
}

.img2_menu2 {
    float: right;
}

ul.menu2 {
    width: 1002px;
    margin: 0 auto;
    padding: 0;
    font: bold 11px Arial, Helvetica, sans-serif;
}

ul.menu2 span {
    font: 11px Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 500px;
}

ul.menu2 li {
    float: left;
    margin: 0 auto;
    list-style: none;
    display: block;
    border-right: 1px #b9b9b9 solid;
}

#id_menu2 {
    border-right: 0px;
}

ul.menu2 li a {
    text-decoration: none;
    color: #333333;
    line-height: 34px;
    padding: 10px 20px 10px 20px;
}

ul.menu2 li a:hover,
ul.menu2 li a:active,
ul.menu2 li a:focus {
    text-decoration: none;
    color: #0074bd;
    background: url('') repeat-x;
}

.blog_menu3 {
    width: 100%;
    clear: both;
    height: 46px;
    background: url('https://res.cloudinary.com/dfkpopvkp/image/upload/v1636686259/bg_imgmenu3_zuvbi1.jpg') repeat-x;
}

ul.menu3 {
    width: 1002px;
    margin: 0 auto;
    font: bold 11px Tahoma;
    padding-left: 30px;
}

ul.menu3 li {
    float: left;
    list-style: none;
    display: block;
}

ul.menu3 li a {
    text-decoration: none;
    color: #fff;
    line-height: 46px;
    padding: 10px 60px 0px 13px;
}

ul.menu3 li a img {
    margin-left: 10px;
}

ul.menu3 li img {
    padding: 7px 0px 0px 0px;
}

ul.menu3 li a:hover,
ul.menu3 li a:active,
ul.menu3 li a:focus {
    color: #fcff00;
}

ul.menu3 span {
    font: 12px Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

ul.menubar li {
    height: 27px;
    list-style: none;
}

ul.menubar li a {
    float: left;
    text-decoration: none;
    color: #fff;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 7px;
}

.PanelBarMenu .bg_mn {
    background: url('https://res.cloudinary.com/dfkpopvkp/image/upload/v1636686260/bg_mn_ver_r5vjmj.jpg') no-repeat;
    width: 181px;
    height: 27px;
}

.bg_frist_mn {
    background: url('https://res.cloudinary.com/dfkpopvkp/image/upload/v1636686259/bg_home_nkg3vr.jpg') no-repeat;
    width: 181px;
    height: 28px;
}

.blog_menu4 {
    height: 30px;
    width: 100%;
    background: #fff;
}

.info_menu4 {
    width: 1002px;
    margin: 0px auto;
}

.info_menu4 a {
    text-align: center;
    display: block;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blog_menu4 input {
    width: 220px;
    margin-left: 10px;
}

.blog_menu4_HP {
    background: #fff;
    height: auto;
    min-height: 10px;
    width: 100%;
}

.blog_menu4_HP a {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #333;
}

.blog_menu4_HP input {
    width: 220px;
    margin-left: 10px;
}


/*----container------*/

.container {
    width: 100%;
    float: left;
    background: #FFFFFF;
}


/*----footer---*/

.panelbottom {
    width: 100%;
    height: 106px;
    float: left;
    background-color: #FFFFFF;
    padding-top: 10px;
}

.content_bottom {
    width: 100%;
    float: left;
    height: 106px;
    background: url('https://res.cloudinary.com/dfkpopvkp/image/upload/v1636686259/bg_bottom_gcxi6v.jpg') repeat-x;
    float: left;
}

.thongtin {
    width: 1002px;
    margin: 0px auto;
    height: 86px;
    background: url('https://res.cloudinary.com/dfkpopvkp/image/upload/v1636686259/bg_bottom_gcxi6v.jpg') repeat-x top bottom;
    font: normal 11px Tahoma;
    color: #333;
    padding: 20px 0px 0px 20px;
}

.thongtin span {
    line-height: 18px;
}

.tentruong {
    font: bold 13px Tahoma;
    color: #0080C0;
}

.trai {
    float: left;
}

.phai {
    float: right;
}

.version {
    clear: both;
    background: #FFFFFF;
    height: 40px;
    width: 100%;
    color: #999999;
}

.info_ver {
    width: 1002px;
    margin: 0px auto;
}

.info_ver a {
    float: right;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 40px;
}


/*DKHP*/

.wrapper_vb {
    width: 100%;
}

.title_topic_vb {
    background: #00a8d8;
    height: 35px;
    width: 810px;
}

.col_topic_1 {
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    width: 20%;
}

.col_topic_2 {
    width: auto;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.col_topic_3 {
    width: 20%;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.col_topic_4 {
    width: 20%;
    border-right: 1px solid #00a8d8;
    border-left: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.col1 {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    border-left: 1px solid #00a8d8;
    font: 12px Arial, Helvetica, sans-serif;
    padding-left: 10px;
    text-align: center;
}

.col2 {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    padding: 10px 10px 10px 10px;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
}

.col3 {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    font: 12px Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

.col4 {
    border-bottom: 1px solid #00a8d8;
    border-right: 1px solid #00a8d8;
    padding: 10px 10px 10px 10px;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
}

.row_b {
    background: #cfe9f8;
}

.dangky {
    float: right;
    clear: both;
    height: 40px;
    margin-top: 10px;
}

.dangky input {
    font: 12px Arial, Helvetica, sans-serif;
    padding: 5px 10px;
}


/*HOC PHAN CHUA TICH LUY*/

.CTL_topic_1 {
    border-right: 1px solid #fff;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    width: 30px;
    padding-left: 10px;
}

.CTL_topic_2 {
    width: 70px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_3 {
    width: 200px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_4 {
    width: 30px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_5 {
    width: 70px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_6 {
    width: 150px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_7 {
    width: 70px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_8 {
    width: 30px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_9 {
    width: 150px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_10 {
    width: 100px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_topic_11 {
    width: 70px;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.CTL_col1 {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    font: 12px Arial, Helvetica, sans-serif;
    padding-left: 10px;
    border-left: 1px solid #00a8d8;
}

.CTL_col {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    padding: 10px 10px 10px 10px;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
}


/*TIN CHI*/

.phieu_DKMH {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.phieu_DKMH legend {
    font: 13px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF0000;
}

.phieu_DKMH_CTL {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.phieu_DKMH_CTL legend {
    font: 13px Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FF0000;
}

.tinchi_topic_1 {
    border-right: 1px solid #fff;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    width: 115px;
    padding-left: 10px;
}

.tinchi_topic_2 {
    width: 285px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tinchi_topic_3 {
    width: 70px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tinchi_topic_4 {
    width: 70px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tinchi_topic_5 {
    width: 70px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tinchi_topic_6 {
    width: 90px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tinchi_topic_7 {
    width: 90px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tinchi_topic_8 {
    width: 90px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.tinchi_topic_9 {
    width: 90px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #00a8d8;
}

.tinchi_col1 {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    font: 12px Arial, Helvetica, sans-serif;
    padding-left: 10px;
    border-left: 1px solid #00a8d8;
}

.tinchi_col {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    padding: 10px 10px 10px 10px;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
}

.loclai {
    float: right;
}

.loclai a {
    padding-right: 12px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: bold;
}

.loclai a:hover {
    color: #FF0000;
}

.tinchi {
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info_tinchi {
    float: left;
}

.info_tinchi a {
    font: 12px Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: bold;
    padding-left: 10px;
}

.note_tinchi a {
    float: right;
    padding-right: 12px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333;
    font-weight: bold;
}

.xuatphieu {
    float: right;
    padding: 12px 10px;
}

.xuatphieu span {
    font: 12px Arial, Helvetica, sans-serif;
    color: #FF0000;
    padding-right: 10px;
}

.xuatphieu input {
    padding: 5px 10px;
}

.xuatphieu img {
    float: right;
    margin-top: 4px;
    margin-left: 3px;
}


/*HOC PHAN NGOAI KE HOACH*/

.hocki {
    padding-left: 10px;
    width: 100%;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.NKH_topic_1 {
    border-right: 1px solid #fff;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    width: 50px;
    padding-left: 10px;
}

.NKH_topic_2 {
    width: 130px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.NKH_topic_3 {
    width: 350px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.NKH_topic_4 {
    width: 80px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.NKH_topic_5 {
    width: 100px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
}

.NKH_topic_6 {
    width: 150px;
    border-right: 1px solid #fff;
    padding-left: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: bold;
    border-right: 1px solid #00a8d8;
}

.NKH_col1 {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    font: 12px Arial, Helvetica, sans-serif;
    padding-left: 10px;
    border-left: 1px solid #00a8d8;
}

.NKH_col {
    border-right: 1px solid #00a8d8;
    border-bottom: 1px solid #00a8d8;
    padding: 10px 10px 10px 10px;
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 18px;
}


/*HOC PHAN NGOAI KE HOACH*/

.nhap_MH {
    width: 100%;
    background: #fff;
}

.info_nhap_MH {
    width: 1002px;
    margin: 0px auto;
}

.nhap_MH a {
    display: block;
    text-align: center;
    padding-top: 10px;
    font: 12px Arial, Helvetica, sans-serif;
    color: #333333;
    font-weight: bold;
}

.search_MH {
    padding: 3px 5px;
}

.nhap_MH p {
    font: 12px Arial, Helvetica, sans-serif;
    color: #FF0000;
    text-align: center;
    padding-bottom: 10px;
}

wrapper_vb {
    border: 1px solid #CCC;
}

.btn {
    display: inline-block;
    padding: 4px 4px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    color: #ffffff;
    background-color: #47a447;
    border-color: #398439;
}

.trGroup {
    font-weight: bold;
    background: #e8f171;
}